@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gt-america';
  src: url('/fonts/GT-America-Regular.OTF');
}

@font-face {
  font-family: 'gt-america-extended';
  src: url('/fonts/GT-America-Extended-Regular.OTF');
}

@font-face {
  font-family: 'gt-america-medium';
  src: url('/fonts/GT-America-Medium.OTF');
}

@font-face {
  font-family: 'gt-america-medium-extended';
  src: url('/fonts/GT-America-Extended-Medium.OTF');
}

@font-face {
  font-family: 'gt-america-extended-black';
  src: url('/fonts/GT-America-Extended-Black.OTF');
}

@layer base {
  :root {
    --background: 200 20% 98%;  /* #f9fafb */
    --btn-background: 200 10% 91%;  /* #e6e9ea */
    --btn-background-hover: 200 10% 89%;  /* #e0e4e6 */
    --foreground: 200 50% 3%;  /* #04090b */
    --dimmed: 200 5% 75% /* #8f9ca3 */
  }

  /* @media (prefers-color-scheme: dark) { */
    .dark {
      --background: 200 20% 98%;  /* #f9fafb */
    --btn-background: 200 10% 91%;  /* #e6e9ea */
    --btn-background-hover: 200 10% 89%;  /* #e0e4e6 */
    --foreground: 200 50% 3%;  /* #04090b */
    --dimmed: 200 5% 75% /* #8f9ca3 */

      /* --background: 200 50% 3%; #04090b */
      /* --btn-background: 200 10% 9%; #151819 */
      /* --btn-background-hover: 200 10% 12%; #1c2022 */
      /* --foreground: 200 20% 96%; #f3f5f7 */
      /* --dimmed: 200 5% 50% #8f9ca3 */
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bgOverlay {
  position: relative;
  /* height: 1000px; */
  height: 100%;
  width: 100%;
  background-color: #122C49;
}

.bgOverlay::before {
    content: "";
    background-image: url('/assets/pattern.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
}

.contactForm {
  width: 100vw;
  min-width:100%;
  height:100vh;
  border:none;
}

.content {
  @apply max-w-screen-xl mx-auto lg:px-16 relative
}

.sideText {
  text-orientation: sideways;
  writing-mode: sideways-lr;
}
